body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    background-color: aquamarine;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    color: white;
}

.calc-btn {
    padding: 20px;
}

input{
    text-align: center;
}
